@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
    background: url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-color: #ADD8E6; /* Fondo azul celeste más claro */
}

* {
    box-sizing: border-box;
    font-family: 'Mochiy Pop One';
}

/* Pantalla inicial nivel 1 */
#pantalla-inicial {
    display: block;
    text-align: center;
    font-size: 40px;
}

#nivel-indicador {
    color: #580078;
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    border: none;
    background: #580078;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
}

/* Pantalla juego nivel 1 */
.pantalla-juego {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

#imgFutbolista {
    width: 500px; /* Definir el ancho deseado */
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.opciones {
    max-width: 600px;
    margin: 30px auto;
}

.opcion {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    cursor: pointer;
}

.opcion:hover .nombre,
.opcion:hover .letra {
    background-color: #580078;
    color: #fff;
}

.opcion .letra {
    background-color: #580078;
    width: 60px;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    border: 5px solid #fff;
    position: relative;
}

.opcion .nombre {
    background: #fff;
    width: 100%;
    font-size: 30px;
    position: absolute;
    margin-left: 40px;
    z-index: -2;
    border-radius: 0 30px 30px 0;
    padding: 10px 0 10px 40px;
}

/* Estilos para opciones correctas */
.opcion.correcta .nombre,
.opcion.correcta .letra,
.nombreAcertada .nombre,
.letraAcertada .letra,
.correcto .nombre-input-nivel-2 input {
    background-color: #00FF00; /* Verde */
    color: #fff;
    box-shadow: 0 0 20px #00FF00;
}

/* Estilos para opciones incorrectas */
.opcion.incorrecta .nombre,
.opcion.incorrecta .letra,
.nombreNoAcertada .nombre,
.letraNoAcertada .letra,
.incorrecto .nombre-input-nivel-2 input {
    background-color: #FF0000; /* Rojo */
    color: #fff;
    box-shadow: 0 0 20px #FF0000;
}


/* Pantalla final nivel 1 */
#pantalla-final {
    display: none;
    text-align: center;
}

#pantalla-final #numCorrectas,
#pantalla-final #numIncorrectas {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 10px;
}

#pantalla-final #numCorrectas {
    background-color: chartreuse;
}

#pantalla-final #numIncorrectas {
    background-color: darkred;
}



/* Nivel 2 */
#pantalla-inicial-nivel-2 {
    display: none;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

#pantalla-juego-nivel-2 {
    display: none;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

#imgFutbolistaNivel2 {
    width: 500px; /* Definir el ancho deseado */
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.nombre-input {
    margin-top: 20px;
}

label {
    font-size: 24px;
}

#nombreFutbolistaNivel2 {
    font-size: 20px;
    padding: 10px;
}

#btnComprobarNivel2 {
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
    margin-top: 10px;
}

/* Estilos para botón correcto en nivel 2 */
.correcto #btnComprobarNivel2 {
    background-color: #00FF00; /* Verde */
}

/* Estilos para botón incorrecto en nivel 2 */
.incorrecto #btnComprobarNivel2 {
    background-color: #FF0000; /* Rojo */
}

#btnComprobarNivel2:hover {
    transform: scale(1.1);
}

#pantalla-final-nivel-2 {
    display: none;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

#pantalla-final-nivel-2 h2 {
    color: #580078;
    font-size: 36px;
    margin-bottom: 20px;
}

#pantalla-final-nivel-2 p {
    font-size: 24px;
    margin-bottom: 10px;
}

#numCorrectasNivel2,
#numIncorrectasNivel2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 10px;
}

#numCorrectasNivel2 {
    background-color: chartreuse;
}

#numIncorrectasNivel2 {
    background-color: darkred;
}

#btnVolverAlInicioNivel2 {
    border: none;
    background: #580078;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
    margin-top: 20px;
}

#btnVolverAlInicioNivel2:hover {
    transform: scale(1.1);
}
