@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Mochiy Pop One';
}

body {
    background: url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

h1 {
    width: fit-content;
    background-color: #fff;
    margin: 60px auto;
    border-radius: 60px;
    box-shadow: 5px 5px 0 #000;
    padding: 30px 40px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

/* PANTALLA INICIO */
#pantalla-inicial {
    display: block;
    text-align: center;
    font-size: 40px;
}

.btn {
    border: none;
    background: #580078;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    transform: scale(1.1);
}

/* PANTALLA JUEGO */
.pantalla-juego {
    display: none;
}

.pantalla-juego {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.pantalla-juego img {
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.opciones {
    max-width: 600px;
    margin: 30px auto;
}

.opcion {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    cursor: pointer;
}

.opcion .letra {
    background-color: #580078;
    width: 60px;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    border: 5px solid #fff;
    position: relative;
}

.opcion .nombre {
    background: #fff;
    width: 100%;
    font-size: 30px;
    position: absolute;
    margin-left: 40px;
    z-index: -2;
    border-radius: 0 30px 30px 0;
    padding: 10px 0 10px 40px;
}

/* Clases que se aplicar치n cuando haya acertado la opci칩n */
.opcion.acertada .nombre,
.opcion.acertada .letra {
    background-color: yellowgreen;
    color: #fff;
}

/* Clases que se aplicar치n cuando se equivoque en la opci칩n elegida */
.opcion.no-acertada .nombre,
.opcion.no-acertada .letra {
    background-color: darkred;
    color: #fff;
}

/* PANTALLA FINAL */
#pantalla-final {
    display: none;
    text-align: center;
}

#pantalla-final #numCorrectas,
#pantalla-final #numIncorrectas {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 10px;
}

#pantalla-final #numCorrectas {
    background-color: chartreuse;
}

#pantalla-final #numIncorrectas {
    background-color: darkred;
}
